$height: 50px;
$OffColor: rgb(21, 111, 172);
$OffSecColor: rgb(218, 218, 20);
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  .me {
    margin-top: 3rem;
    text-align: center;
    img {
      border-radius: 20px;
      box-shadow: 0 0 7px $OffColor;
      width: 250px;
    }
  }
}
.text-container {
  font-size: 40px;
  height: $height;
  font-family: Montserrat;
}

.dynamic-text,
.static-text {
  display: inline-block;
}

.static-text {
  margin-left: -2rem;
  color: #10add8;
}

.dynamic-text {
  list-style: none;
  position: absolute;
  overflow: hidden;
  height: $height;
}

.item {
  position: relative;
  top: 0;
  animation: move 6s infinite 2s;
  &:first-child {
    color: #c8e61c;
  }
  &:nth-child(2) {
    color: #f05d09;
  }
  &:nth-child(3) {
    color: #48c4cf;
  }
  &:nth-child(4) {
    color: #e62214;
  }
  &:nth-child(5) {
    color: #aae70f;
  }
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -96px;
  }
  60% {
    top: -146px;
  }
  80% {
    top: -196px;
  }
}
@media (max-width: 783px){
  .container{
    padding-top: 13rem;
  }
  .container .me img{
    width: 190px;
  }
}