@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.skill {
  position: relative;
  display: grid;
  height: 80%;
  place-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.skill-title {
  font-family: 'roboto';
  font-size: 35px;
  font-weight: 400;
  color: #000;
}
.skills-bar {
  width: 1000px;
  border-radius: 10px;
  padding: 25px 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.skills-bar .bar {
  margin: 30px 0px;
}
.skills-bar .bar:first-child {
  margin-top: 0px;
}
.skills-bar .bar .info {
  margin-bottom: 5px;
}
.skills-bar .bar .info span {
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #070707;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-line.html span {
  width: 90%;
}
.progress-line.javascript span {
  width: 70%;
}

.progress-line.php span {
  width: 85%;
}

.progress-line.python span {
  width: 10%;
}

.progress-line.mysql span {
  width: 90%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "90%";
}

.progress-line.javascript span::after {
  content: "70%";
}

.progress-line.php span::after {
  content: "85%";
}

.progress-line.python span::after {
  content: "10%";
}

.progress-line.mysql span::after {
  content: "90%";
}


@media (max-width: 767px){
  .skill{
    margin: 0 3rem 0 3rem;
    &-title{
      font-size: 18px;
      text-align: center;
      font-weight: bold;
    }
    .skills-bar{
      width: 100%;
    }
    .bar{
      .info{
        span{
          font-size: 12px;
        }
      }
    }
    .bar .progress-line span::after{
      font-size: 9px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1108px){
  .skill{
    margin: 0 3rem 0 3rem;
  }
  .skills-bar{
    width: 100%;
  }
}