$OffColor: rgb(21, 111, 172);
$OffSecColor: rgb(218, 218, 20);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.aboutMe {
  // background-image: url('../../assets/background-main.jpg');
  padding: 2rem 5rem 0 5rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 30px;
  .aboutImage {
    width: 540px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
  }
  .aboutText {
    line-height: 55px;
    .name {
      font-size: 35px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
    }
  }
  b{
      height: 1px;
  }
}
@media (max-width: 767px) {
  .aboutMe{
    margin-top: 35rem;
    padding: 0;
    display: block;
    text-align: center;
    gap: 0px;
    .aboutImage{
      width: 450px;
    }
    .aboutText{
      padding: 0 1rem 0 1rem;
      line-height: 30px;
      .name{
        font-size: 20px;
      }
      .skill{
        font-size: 16px;
      }
      p{
        font-size: 16px;
      }
      a{
        font-weight: bold;
      }
    }
  }
}
@media (max-width: 466px){
  .aboutMe{
    margin-top: 40rem;
    .aboutImage{
      width: 250px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1201px){
  .aboutMe{
    padding: 0 1rem 0 1rem;
    display: block;
    text-align: center;
    margin-top: 30rem;
  }
}
