@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.header {
  display: flex;
  position: fixed;
  width: 85%;
  z-index: 10;
  justify-content: space-between;
  padding: 0rem 7rem 0 7rem;
  max-width: 100%;
  font-family: "Playfair Display", serif;
}
.activeMenu{
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .4s ease-in;
  display: flex;
  position: fixed;
  width: 90%;
  z-index: 10;
  justify-content: space-between;
  padding: 1rem 7rem 1rem 7rem;
  top: 0px;
  max-width: 100%;
  font-family: "Playfair Display", serif;
  .logo{
    color: yellow;
  font-size: 29px;
  font-family: 'Zen Tokyo Zoo', cursive;
  text-transform: uppercase;
  font-weight: 500;
  }
   a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
  }
}
.menus {
  display: flex;
  gap: 100px;
}
.header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: aliceblue;
}
.menus a:hover{
  transition: all .3s ease-in;
  border-bottom: 1px solid yellow;
  border-radius: 0px 0 5px 5px;
}
.header .logo {
  color: yellow;
  font-size: 29px;
  font-family: 'Zen Tokyo Zoo', cursive;
  text-transform: uppercase;
  font-weight: 500;
}
.header .logo:hover{
  font-weight: 600;
  transition: .1s;
  transform: translate(1px, 1px);
}
a .active {
  color: yellow;
}
.socials {
  display: flex;
  gap: 20px;
}
.socials a {
  font-size: 25px;
}
.socials a:first-child {
  background-color: hsl(209, 93%, 38%);
  padding: 3px;
  border-radius: 5px;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials a:first-child:hover {
  transform: rotate(360deg);
  transition: 0.5s;
  font-size: 32px;
}
.socials a:nth-child(2) {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  padding: 3px;
  border-radius: 5px;
}
.socials a:nth-child(2):hover {
  transform: rotate(360deg);
  transition: 0.5s;
  font-size: 32px;
}
.socials a:nth-child(3) {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #259ed9;
  padding: 3px;
  border-radius: 5px;
}
.socials a:nth-child(3):hover {
  transform: rotate(360deg);
  transition: 0.5s;
  font-size: 32px;
}
.burger{
  display: none;
}
@media (max-width: 320px){
  .header .logo{
    font-size: 12px;
  }
}
@media (min-width: 1029px) and (max-width: 1249px) {
  .header{
    display: flex;
    align-items: center;
    padding: 0rem 3rem 0 3rem;
  }
  .header .logo{
    font-size: 20px;
  }
  .header a{
    font-size: 18px;
  }
  .menus{
    gap: 80px;
  }
}
@media (max-width:1028px){
  .header{
    padding: 0 3rem 0 3rem;
  }
  .header .logo{
    font-size: 18px;
  }
  .header a{
    font-size: 16px;
  }
  .socials a:first-child {
    width: 17px;
    height: 17px;
  }
  .socials a:nth-child(2){
    width: 17px;
    height: 17px;
  }
  .socials a:nth-child(3){
    width: 17px;
    height: 17px;
  }
  .menus{
    gap: 70px;
  }
}
@media (min-width: 240px) and (max-width: 783px){
  .header {
    // padding: 0rem 1rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    position: absolute;
    align-items: center;
  }
  .burger{
    cursor: pointer;
    display: block;
    color: white;
    font-size: 20px;
  }
  .menus{
    display: block;
    position: absolute;
    left: -200%;
  }
  .socials{
    position: absolute;
    left: -200%;
  }
  .activeBurger{
    background-color: rgba(0, 0, 0, 0.8);;
    display: grid;
    width: 90%;
    right: 0;
    position: absolute;
    left: 0%;
    text-align: center;
    top: 3rem;
    line-height: 45px;
    transition: all .5s ease;
    opacity: 1;
    z-index: 1;
  }

  .socialsActive{
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
    position: absolute;
    width: 90%;
    height: 20%;
    left: 0%;
    top: 15.2rem;
    transition: all .5s ease;
    i{
      font-size: 25px;
      color: hsl(56, 62%, 55%);
    }
  }
  .activeMenu{
    padding: 0;
    width: 80%;
    display: none;
  }
}