@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.footer{
    background-color: black;
    color: white;
    font-family: "Playfair Display", serif;
    padding: 2rem;
    margin-top: 2rem;
    font-size: 18px;
}
@media (max-width: 767px){
    .footer{
        font-size: 14px;
    }
}