::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(28, 59, 160);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 224, 3);
}
$back: url("./assets/background.jpg");
.App {
  background-image: $back;
  background-attachment: fixed;
  background-size: 40%;
  height: 100vh;
  width: 100%;
  .center_all {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
  }
}
/* .center_all {
  position: absolute;
  top: 6%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
} */

/* #text_div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 10px;
} */

.ringLoader {
  // background-color: rgb(17, 16, 16);
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ringLoader img {
  width: 100%;
}
.loader{
  color:rgb(28, 59, 160);
  font-size: 45px;
}